@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-middle">
    <h1 class="display-4">Welcome to the Pokemon Suggestory!</h1>
    @*<img src="./Shared/Pokeball.png" alt="img" style="max-width: 20px; max-height: 24px" />*@
    <p>
        There are about 900 pokemon with about 100 new ones added per year, each pokemon can be up to 2 types of 18 types,
        there are 72 gym leaders with 8 added per year, and there are 185 routes across 9 regions. That is a lot of information to search through singularly.
        So, this website was built to allow easier searching through the information related to the Pokemon series.
        If you need any background:
        Pokemon is a 25 year running game series where the player captures monsters known as pokemon and uses them to fight in battles with other non-playable 
        characters in the game. Over the years, the series has added thousands of pokemon and characters to fight as well as dozens of areas to capture them 
        (known as routes) and regions (the place any given game is set in). One of the main goals of the game is to beat all the “gym leaders” in a given game, 
        so they can become a master of pokemon. Beating the gym leaders can be quite challenging when considering that every pokemon has a “type” attached to it,
        which acts as a sort of rock-paper-scissors function for pokemon battling. Certain types are stronger than others; other pokemon are weaker against each other.
        When beginning a pokemon game, the player has to choose between a fire-type, water-type, or grass-type pokemon known as a starter, which the player will usually
        bring with them throughout their adventure. This starter pokemon is a key part of the team, and it typically determines the rest of the pokemon the player will choose.
        As the game series has gained international popularity, a community has built around it, especially in regards to getting better at playing the games. This
        includes all sorts of companion websites and applications to assist players in catching the right pokemon to use against other characters, especially the gym leaders.
        The expected user of this database/application is a fan and current player of pokemon that is seeking to find ways of making better choices for the pokemon they want to play with.
    </p>
    <p>Sean Castanon and Alexis Tucker</p>
</div>
