/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*

flex-shrink-0 {
    flex-shrink: 0;
}

d-flex {
    display: flex;
}

flex-column {
    flex-direction: column;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
*/

navbar-custom {
    background-color: firebrick;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    /*left: 200px;  just an estimate of your sidebar's width */
    width: 200px;
}

/* The sidebar menu 
sidebar {
    height: 100%;  
    width: 160px;  
    position: fixed;  
    z-index: 1;  
    top: 0;   
    left: 0;
    background-color: #111;  
    overflow-x: hidden;  
    padding-top: 20px;
}
    */

    /* The navigation menu links 
sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
        */
        /* When you mouse over the navigation links, change their color */
sidebar a:hover {
  color: #808080;
}

/* Style page content */
main {
    /*margin-left: 160px;   Same as the width of the sidebar */
    padding: 10px 10px 10px 10px inherit;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
    sidebar {
        padding-top: 15px;
    }

    sidebar a {
            font-size: 18px;
    }
}
    */


/*a {
    //color: #fff;
    color: #b200ff;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    padding-top: 20px;
}*/
    

.btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}


.border-top {
  border-top: 1px solid #fff;
}
.border-bottom {
  border-bottom: 1px solid #fff;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
   margin:0;
  margin-bottom: 60px;
  background-color: #fff;
}


    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      line-height: 60px;
    }

